/**
 * @name Sloth City
 * @author Mikits
 * @description when i feel like chagning something randomly, i change it
 * @website https://github.com/Mikits4/my-vencord-themes
 * @version 0.2
*/

#app-mount :where(::-webkit-input-placeholder,
    body,
    button,
    input,
    select,
    textarea,
    *) {
    font-family: var(--cf);
}

:root {
    --cf: "Courier New";
}

/* Sidebar cats */
.user-profile-sidebar::after {
    /* a cat */
    content: "   /￣ヽ\a"
        " ∠)_・/ ∧_∧ \a"
        "   / / ( ･ω･)\a"
        "  (   ￣∪∪￣)\a"
        "  ~~~~~~~~~~~~";

    white-space: pre;
    padding: 20px;
    padding-left: 110px;
    color: rgb(189, 145, 243);
}

.members_c8ffbb::after {
    content: "                            \a"
        "                     /\\    .-`\\\a"
        "                    /  ; .`  .` \a"
        "                   :   :/  .'   \a"
        "                    \\  ;-.'     \a"
        "       .--` ``` `--..__/   `.  \a"
        "     .'           .`    `o   \\   \a"
        "    /                    `    ;  \a"
        "   :                  \\       :  \a"
        " .-;         -.        `.__.-`  \a"
        ":  ;           \\     ,   ;       \a"
        "'._:            ;   :   (        \a"
        "    \\/  .__     ;    \\   `-.     \a"
        "     ;     ` -, /_..--``-..__)  \a"
        "     ``''--.._: \A";
    white-space: pre;
    width: 100px;
    padding-left: 100px;
    color: rgb(28, 83, 65);
    font-size: 80%;
}

/* title */
.backForwardButtons__63abb {
    display: none;
}

.leading_c38106::after {
    content:
        "hi";
    z-index: 1;
}

/* avatar */
:root {
    border-radius: 0px;
}

.mask__68edb>foreignObject,
.svg__44b0c>foreignObject,
.svg__2338f>foreignObject,
.svg_cc5dd2>foreignObject,
svg_cc5dd2>foreignObject {
    mask: none;
}

.avatar_c19a55,
.svg_cc5dd2,
.wrapper__6e9f8 {
    border-radius: 0 !important;
}

.wrapper_da5890 {
    mask: none;
}

/* dm */
.scroller__36d07 {
    padding-left: 15px;
}

.message__5126c {
    border-radius: 10px;
}

/*8008135*/

.titleWrapper__9293f::after {
    content:
        "likes 8008135";
}

/*toolbar*/

.toolbar__9293f {
    background-color: #20574550;
    padding-left: 5px !important;
}

/* server list */

.tree_ef3116 {
    background-color: #06351f50;
}

/* squarify */
.overlay_c0bea0,
.channel__972a0,
.childContainer__91a9d,
.link__2ea32,
.jumpToPresentBar__0f481,
.button_a22cb0,
.panels_c48ade,
.button_e131a9,
.channelTextArea_f75fb0,
.searchBar__97492,
.button__201d5 {
    border-radius: 3px;
}


.usernameRow__63ed3,
.tags__63ed3 {
    margin-left: 5px;
}

.panels_c48ade {
    width: 99%;
}

.form_f75fb0 {
    padding: 5px;
}

.channelTextArea_f75fb0 {
    margin: 0;
}

.button_e131a9 {
    width: 110%;
}

.container_e131a9 {
    padding-left: 4px;
}

.body_b32ca4 {
    margin: 0;
    gap: 0;
}

.overlay_c0bea0 {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

/* background colours */

:root {
    /* --custom-theme-base-color: #00644b;
    --custom-theme-base-color-hsl: 300 70% 20%;
    --custom-theme-base-color-amount: 50%;*/
    --custom-theme-text-color: #68c7ff;
    --custom-theme-text-color-amount: 10%;

    --text-link: #75c8ff !important;


    --radius-none: 4px;
    --radius-xs: 4px;
    --radius-sm: 4px;
    --radius-md: 4px;
    --radius-lg: 4px;
    --radius-xl: 4px;
    --radius-xxl: 4px;
    --radius-round: 2147483647px;
}

.theme-light,
.theme-dark,
.theme-darker,
.theme-darkest {
    /* main colours */
    --background-base-low: rgb(8, 88, 64);
    --background-base-lower: rgb(7, 56, 29);
    --background-base-lowest: rgb(4, 73, 46);

    /* less common colours */
    --background-secondary: rgb(100, 14, 71);
    --background-secondary-alt: rgb(78, 143, 132);

    --background-surface-high: rgb(15, 90, 61);
    --background-surface-higher: rgb(20, 126, 94);
    --background-surface-highest: rgb(40, 104, 78);

    --chat-background-default: rgb(9, 80, 50);
    --user-profile-overlay-background: rgb(31, 124, 85);
    --card-primary-bg: rgb(102, 170, 167);
    --bg-surface-raised: rgb(42, 148, 116);
    --control-background-primary-default: rgb(20, 172, 126);

    --scrollbar-thin-thumb: rgb(8, 112, 86);

    /* text colour */
    --channels-default: rgb(111, 204, 192);
    --text-primary: rgb(152, 255, 246);
    --text-secondary: rgb(91, 170, 160);
    --text-tertiary: rgb(21, 139, 124);

    /* less common text colours */
    --text-muted: rgb(40, 104, 88);
}
